.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

::placeholder {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin: 40px 50px;
  width: calc(100% - 100px); /* Adjusted to fit within container */
  height: calc(100vh - 120px); /* Full viewport height minus margins */
}

.login-page {
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 666px;
  top:300px;
  font-family: "Space Mono", monospace;
  background-color: rgb(119, 136, 153, 0.7);
  width: 30%;
  height: 400px;
}